html,body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to right, #ec9f05, #ff4e00);
    }
.hero-body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
.mysocial { color: hsl(0, 0%, 100%);}
.mysocial:hover { color: #1da1f2 }
.tile {
    box-shadow: black 3px 3px 3px;
}
.card {
    border-radius: 6px;
    box-shadow: black 3px 3px 3px;
}
.pagination-link{
    border-color: black;
    border-width: 2px;
    color: black;
    min-width: 2.25em;
}
.pagination-next{
    border-color: black;
    border-width: 2px;
    color: black;
    min-width: 2.25em;
}
.pagination-previous{
    border-color: black;
    border-width: 2px;
    color: black;
    min-width: 2.25em;
}
.navbar-brand{
    background: #f17836 ;
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem;
}
.navbar {
    background: #f17836 ;
}
.navbar-item{
    color: black;
}
.tag:not(body){
    background-color: #fd6a02;
    box-shadow: 1px 1px 1px black;
}
a {
    color: black;
}
a:hover {
    color: purple;
  }
a.navbar-item:hover{
      color: purple;
  }
.pagination-link.is-current{
      background-color: lightgray;
      border-color: black;
      color: black;
  }
img {
    float: right;
    margin: 0 auto;
    height: 165px;
}

