{{ define "main" }}

<div class="columns">
    <div class="column is-9">
        <div class="tile is-child box">
            <div class="title">
                {{ .Title }}
            </div>
            <div>
                {{ if .Params.Author }}By {{ .Params.Author }}{{if .Params.Position }}, <i>{{ .Params.Position }}</i>
                {{end}}
                {{end}}
            </div>
            <div class="content">
                {{ .Content }}
            </div>
        </div>
    </div>
    <div class="column is-3">
        {{ partial "widget-tags.html" . }}<br>
        {{ partial "widget-recent.html" . }}<br>
        {{ partial "widget-related.html" . }}<br>
        {{ partial "widget-issues.html" . }}<br>
        {{ partial "widget-archives.html" . }}
    </div>
</div>

{{ end }}
